
.idea
.vs
x64/
.gradle/
app/.cxx/

__pycache__/

build/
test/save_data/

*.out
*.exe
*.exp
*.lib


*.json
*.pdparams
*.pdopt
*.pdmodel
*.pdema
*.npz
*.zip
*.pt

*.param
*.bin
*.pth
*.mie

gen_code*.txt
simd_*.txt

